form {
    padding: 10px;
    margin: 10px;
}

.button {
    background-color: pink;
    font-size: 20px;
    color: rgb(59, 30, 139)
  }

.title {
    text-align: center;
    color: rgb(106, 25, 199)
}