
<ion-header>
  <ion-toolbar>
    <ion-title class="title">Add a New Recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="recipeForm" (ngSubmit)="submitNewRecipe()">
      <ion-item>
        <ion-label position="floating">Recipe Title:</ion-label>
        <ion-input required type="text" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Category:</ion-label>
        <ion-input required type="text" formControlName="foodcategory"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Recipe Link:</ion-label>
        <ion-input type="text" formControlName="foodlink"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Notes:</ion-label>
        <ion-input type="text" formControlName="notes"></ion-input>
      </ion-item>
      <ion-button type="submit">Add Recipe!</ion-button>
    </form>
  </ion-list>

</ion-content>
