.title {
    padding-top: 20px;
    font-size: 27px;
    text-align: center;
    color: rgb(106, 25, 199)
}

.subtitle {
    text-align: center;
    color: rgb(106, 25, 199)
}

.header {
    font-size: 20px;
}

.add {
    margin-top: 18px;
}